<div class="sidebar-card profile">
    <div class="profile">
      <a href="{{ site.data.user.profile_link }}" | absolute_url }}">
      <img class="profile-pic" src="{{ site.baseurl }}/{{ site.data.user.profile_pic }}" alt="">
      </a>
        <a class="silent-link" href="{{ site.data.user.profile_link }}" | absolute_url }}">
            <h1 class="user-name silent-link">{{ site.data.user.user_name }}</h1>
        </a>
</div>
  <div class="sidebar-link-box profile">
    <!-- <h2><a href="/">Home</a></h2> -->
    <h2><a href="/meta">Meta</a></h2>
      <h2><a href="/articles">Articles</a></h2>
      <h2><a href="/journals">Journals</a></h2>
      <h2><a href="/wiki-index">Wiki</a></h2>
      <h2><a href="/notes">Notes</a></h2>
      <!-- <a href="/music">Music</a> -->
      <!-- <a href="/daily">Daily</a> -->
    </div>
      <div class="sidebar-link-box profile">
        <h2><a href="/latest">Latest</a></h2>
          <h2><a href="/archive">Archive</a></h2>
            <h2><a href="/tags">Index</a></h2>
              <h2><a href="/vault">Vault</a></h2>
      <!-- <a href="/ring">Webring</a> -->

    </div>
  </div>