<div class="sidebar-card profile">
    <div class="profile">
      <a href="{{ site.data.user.profile_link }}" | absolute_url }}">
      <img class="profile-pic" src="{{ site.baseurl }}/{{ site.data.user.profile_pic }}" alt="">
      </a>
        <a class="silent-link" href="{{ site.data.user.profile_link }}" | absolute_url }}">
            <h1 class="user-name silent-link">{{ site.data.user.user_name | upcase}}</h1>
        </a>
</div>
  <div class="sidebar-link-box profile">
      <h2><a href="/pages/echo">Echo</a></h2>
      <!-- <h2><a href="/pages/uplink">Uplink</a></h2> -->
      <h2><a href="/pages/databank-index">Databank</a></h2>
      <h2><a href="/pages/notes">Notes</a></h2>
      <!-- <h2><a href="/pages/music">Music</a></h2> -->
      <h2><a href="/pages/poems">Poetry</a></h2>
      <!-- <a href="/pages/daily">Daily</a> -->
    </div>
      <div class="sidebar-link-box profile">
        <h2><a href="/pages/latest">Latest</a></h2>
          <h2><a href="/pages/archive">Archive</a></h2>
            <h2><a href="/pages/tags">Index</a></h2>
              <h2><a href="/pages/library">Vault</a></h2>
      <!-- <a href="/ring">Webring</a> -->

    </div>
  </div>