---
layout: page
category: archive
title: Archive
subtitle:
date:
permalink: /archive
---
<main>
  <section class="container-lg">
    <div class="leftcolumn">    
      {% include profile-card.html %}
    </div>
    
    <div class="midcolumn">
    <div class="archive-grid">

      <div class="index-card">
        {% assign all_posts = site.articles %}
      {% assign all_posts = all_posts | concat: site.journals %}
      {% assign all_posts = all_posts | concat: site.wiki %}
      {% assign all_posts = all_posts | concat: site.notes %}

      <!-- Sort the combined list by date in descending order -->
      {% assign sorted_posts = all_posts | sort: 'date' | reverse %}

      <!-- Display the sorted posts in a single table -->
        <style>
          .pre-archive {
              border-collapse: separate;
              border: none;
              font-family: monospace;
              border-spacing: 0px;
              padding: 0;
          }
          .pre-archive td, .pre-archive tr {
            padding: 0px;
            margin: 0px;
            border: none;
          }
          .pre-archive p {
              display: inline;
              margin: 0px;
              padding: 0px;
          }
          .archive-title:hover {
            text-decoration: none;
            background-color: var(--color-secondary);
            cursor: pointer;
            a {
              color: var(--color-text);
            }
        }
        </style>

        <table class="pre-archive">
          <tr><td colspan="8" style="text-align: center;">ARCHIVE</td></tr>
          <tbody>
            <tr>
              <td>--------------------------------</td>
              <td>-----------</td>
              <td>-----</td>
              <td>-----</td>
              <td>----</td>
            </tr>
            <tr>
              <td>POST</td>
              <td>DATE</td>
              <td>TYPE</td>
              <td>WRDS</td>
              <td>TAGS</td>
            </tr>
            <tr>
              <td>--------------------------------</td>
              <td>-----------</td>
              <td>-----</td>
              <td>-----</td>
              <td>----</td>
            </tr>
            {% for post in sorted_posts %}
              <tr>
                <td class="archive-title"><p><a class="index-anchor" href="{{ post.url }}">{{ post.title | truncate:30, "" | upcase }}</a></p></td>
                <td>{{ post.date | date: "%m.%d.%Y" }}</td>
                <td>{{ post.collection | truncate:4, "" | upcase}}</td>
                <td>{{ post.content | strip_html | split: ' ' | size  }}</td>
                <td>:: {{ post.tags | size }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      

</div>
</div>
  </section>
</main>



          
<script type="text/javascript">
  // Hack: Replace page-link with "Page Title"
  document.querySelectorAll(".markdown-body a[title]").forEach((a) => {
    a.innerText = a.title;
  });
  // Hack: Remove .md extension from wikilinks to get the html in jekyll
  document.querySelectorAll("a").forEach(l => {
    if (l.href.endsWith('.md')) {
      l.href = l.href.substring(0, l.href.length-3)
    }
  })
</script>